#### ucf for RemoraIO - Remora
##  Copyright 2003, BittWare, Inc.
##  The user is hereby granted a non-exclusive license to
##  use and or modify this software provided that it runs
##  on BittWare hardware. Usage of this software on
##  non-BittWare hardware without the express written
##  permission of BittWare is strictly prohibited.
##
##    Ver.  Dates     Author  Changes
##    ----  --------  ------  ----------------------------
##    1.0   02/05/03   raj	Initial coding
##   -------------------------------------------------------
#NET "xv2_l0clk2" LOC = "b11";
#NET "xv2_l0fsync" LOC = "b10";
#NET "xv2_l1clk2" LOC = "d11";
#NET "xv2_l1fsync" LOC = "e10";
#NET "xv2_l2fsync" LOC = "e17";
#NET "xv2_l3fsync" LOC = "d18";
# These two are input only
# These two are input only
#NET "xv2_tdmtrc0" LOC = "j21";
#NET "xv2_tdmrfs0" loc = "j22";
#NET "xv2_tdmtd0" loc = "k17";
#NET "xv2_tdmrd0" loc = "k18";
#NET "xha_page" LOC = "u11";
#NET "xha_sbts_l" LOC = "v12";
#NET "xha1_dmar1_l" LOC = "w13";
#NET "xv2_din" LOC = "v18";
#NET "xv2_dout" LOC = "ab19";
#NET "xv2_init_b" LOC = "aa19";
# Clock Periods
NET "xv2_haclk" PERIOD = 25 ns HIGH 50 %;
NET "BusClk" period = 25 ns HIGH 50 %;
NET "xuser_clk" PERIOD = 23.25 ns HIGH 50 %;
NET "LinkClk" period = 7.75 ns HIGH 50 %;
NET "TimerClk" period = 100 ns HIGH 50 %;
# TIGs
NET "Reset" TIG;
#Pull Ups/Downs
NET "xha_rdh_l" PULLUP;
NET "xha_rdl_l" PULLUP;
NET "xha_wrh_l" PULLUP;
NET "xha_wrl_l" PULLUP;
NET "xha_ms0_l" PULLUP;
NET "xha_ms1_l" PULLUP;
NET "xha_ms2_l" PULLUP;
NET "xha_ms3_l" PULLUP;
NET "xflag0" PULLUP;
NET "xflag1" PULLUP;
NET "xhdr_dir" PULLUP;
NET "xhdr_ack" PULLUP;
NET "xhdr_clk" PULLUP;
NET "xhdr2_dir" PULLUP;
NET "xhdr2_ack" PULLUP;
NET "xhdr2_clk" PULLUP;
NET "xpa_sda" PULLUP;
NET "xpa_scl" PULLUP;
NET "xv2_hbg_l" PULLUP;
NET "xha_hbr_l" PULLUP;
NET "xv2_hbgen_l" PULLUP;
NET "xha_ack" PULLUP;
# Link Port Timing
NET "xv2_l0ack" SLEW = FAST;
NET "xv2_l0dat<0>" SLEW = FAST;
NET "xv2_l0dat<1>" SLEW = FAST;
NET "xv2_l0dat<2>" SLEW = FAST;
NET "xv2_l0dat<3>" SLEW = FAST;
NET "xv2_l0dat<4>" SLEW = FAST;
NET "xv2_l0dat<5>" SLEW = FAST;
NET "xv2_l0dat<6>" SLEW = FAST;
NET "xv2_l0dat<7>" SLEW = FAST;
NET "xv2_l1ack" SLEW = FAST;
NET "xv2_l1dat<0>" SLEW = FAST;
NET "xv2_l1dat<1>" SLEW = FAST;
NET "xv2_l1dat<2>" SLEW = FAST;
NET "xv2_l1dat<3>" SLEW = FAST;
NET "xv2_l1dat<4>" SLEW = FAST;
NET "xv2_l1dat<5>" SLEW = FAST;
NET "xv2_l1dat<6>" SLEW = FAST;
NET "xv2_l1dat<7>" SLEW = FAST;
NET "xv2_l2ack" SLEW = FAST;
NET "xv2_l2dat<0>" SLEW = FAST;
NET "xv2_l2dat<1>" SLEW = FAST;
NET "xv2_l2dat<2>" SLEW = FAST;
NET "xv2_l2dat<3>" SLEW = FAST;
NET "xv2_l2dat<4>" SLEW = FAST;
NET "xv2_l2dat<5>" SLEW = FAST;
NET "xv2_l2dat<6>" SLEW = FAST;
NET "xv2_l2dat<7>" SLEW = FAST;
NET "xv2_l3ack" SLEW = FAST;
NET "xv2_l3dat<0>" SLEW = FAST;
NET "xv2_l3dat<1>" SLEW = FAST;
NET "xv2_l3dat<2>" SLEW = FAST;
NET "xv2_l3dat<3>" SLEW = FAST;
NET "xv2_l3dat<4>" SLEW = FAST;
NET "xv2_l3dat<5>" SLEW = FAST;
NET "xv2_l3dat<6>" SLEW = FAST;
NET "xv2_l3dat<7>" SLEW = FAST;
NET "xv2_l0clk1" MAXSKEW = 800 ps; #Low Skew Lines
NET "xv2_l1clk1" MAXSKEW = 800 ps; #Low Skew Lines
NET "xv2_l2clk" MAXSKEW = 800 ps; #Low Skew Lines
NET "xv2_l3clk" MAXSKEW = 800 ps; #Low Skew Lines
#NET "xv2_l0ack" USELOWSKEWLINES; #Low Skew Lines
#NET "xv2_l1ack" USELOWSKEWLINES; #Low Skew Lines
#NET "xv2_l2ack" USELOWSKEWLINES; #Low Skew Lines
#NET "xv2_l3ack" USELOWSKEWLINES; #Low Skew Lines
NET "xv2_haclk" TNM_NET = "xv2_haclk";
NET "xuser_clk" TNM_NET = "xuser_clk";
NET "linkclk" TNM_NET = "linkclk";
NET "busclk" TNM_NET = "busclk";
NET "TimerClk" TNM_NET = "TimerClk";
#PACE: Start of Constraints extracted by PACE from the Design
NET "xexep_n1" LOC = "w20" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_n2" LOC = "w22" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_n3" LOC = "v20" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_n4" LOC = "v22" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_n5" LOC = "t22" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_n6" LOC = "r18" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_n7" LOC = "r20" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_n8" LOC = "r22" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_n9" LOC = "n22" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_n10" LOC = "m17" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_n11" LOC = "m19" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_n12" LOC = "m21" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_n13" LOC = "c21" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_n14" LOC = "d21" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_n15" LOC = "e19" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_n16" LOC = "e21" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_n17" LOC = "k19" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_n18" LOC = "p20" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_n19" LOC = "p22" | IOSTANDARD = LVTTL | IOBDELAY = NONE;
NET "xexep_n20" LOC = "n18" | IOSTANDARD = LVTTL | IOBDELAY = NONE;
NET "xexep_n21" LOC = "n20" | IOSTANDARD = LVTTL | IOBDELAY = NONE;
NET "xexep_n22" LOC = "a19" | IOSTANDARD = LVTTL | IOBDELAY = NONE;
NET "xexep_n23" LOC = "c13" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_n24" LOC = "a13" | IOSTANDARD = LVTTL | IOBDELAY = NONE;
NET "xexep_n25" LOC = "c12" | IOSTANDARD = LVTTL | IOBDELAY = NONE;
NET "xexep_n26" LOC = "j19" | IOSTANDARD = LVTTL | IOBDELAY = NONE;
NET "xexep_n27" LOC = "l21" | IOSTANDARD = LVTTL | IOBDELAY = NONE;
NET "xexep_n28" LOC = "l19" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_n29" LOC = "l17" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_n30" LOC = "k21" | IOSTANDARD = LVTTL | IOBDELAY = NONE;
NET "xexep_n31" LOC = "j17" | IOSTANDARD = LVTTL | IOBDELAY = NONE;
NET "xexep_n32" LOC = "h21" | IOSTANDARD = LVTTL | IOBDELAY = NONE;
NET "xexep_n33" LOC = "h19" | IOSTANDARD = LVTTL | IOBDELAY = NONE;
NET "xexep_n34" LOC = "g21" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_p1" LOC = "aa20" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_p2" LOC = "w21" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_p3" LOC = "v19" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_p4" LOC = "v21" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_p5" LOC = "t21" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_p6" LOC = "p17" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_p7" LOC = "r19" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_p8" LOC = "r21" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_p9" LOC = "n21" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_p10" LOC = "n17" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_p11" LOC = "m18" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_p12" LOC = "m20" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_p13" LOC = "c22" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_p14" LOC = "d22" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_p15" LOC = "e20" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_p16" LOC = "e22" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_p17" LOC = "k20" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_p18" LOC = "p19" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_p19" LOC = "p21" | IOSTANDARD = LVTTL | IOBDELAY = NONE;
NET "xexep_p20" LOC = "p18" | IOSTANDARD = LVTTL | IOBDELAY = NONE;
NET "xexep_p21" LOC = "n19" | IOSTANDARD = LVTTL | IOBDELAY = NONE;
NET "xexep_p22" LOC = "b19" | IOSTANDARD = LVTTL | IOBDELAY = NONE;
NET "xexep_p23" LOC = "d13" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_p24" LOC = "b13" | IOSTANDARD = LVTTL | IOBDELAY = NONE;
NET "xexep_p25" LOC = "b12" | IOSTANDARD = LVTTL | IOBDELAY = NONE;
NET "xexep_p26" LOC = "j20" | IOSTANDARD = LVTTL | IOBDELAY = NONE;
NET "xexep_p27" LOC = "l22" | IOSTANDARD = LVTTL | IOBDELAY = NONE;
NET "xexep_p28" LOC = "l20" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_p29" LOC = "l18" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xexep_p30" LOC = "k22" | IOSTANDARD = LVTTL | IOBDELAY = NONE;
NET "xexep_p31" LOC = "j18" | IOSTANDARD = LVTTL | IOBDELAY = NONE;
NET "xexep_p32" LOC = "h22" | IOSTANDARD = LVTTL | IOBDELAY = NONE;
NET "xexep_p33" LOC = "h20" | IOSTANDARD = LVTTL | IOBDELAY = NONE;
NET "xexep_p34" LOC = "g22" | IOSTANDARD = LVDS_33 | IOBDELAY = NONE;
NET "xflag0" LOC = "u13"  ;
NET "xflag1" LOC = "v13"  ;
NET "xha_a<0>" LOC = "u5"  ;
NET "xha_a<1>" LOC = "v5"  ;
NET "xha_a<2>" LOC = "v3"  ;
NET "xha_a<3>" LOC = "v4"  ;
NET "xha_a<4>" LOC = "w1"  ;
NET "xha_a<5>" LOC = "w2"  ;
NET "xha_a<6>" LOC = "u3"  ;
NET "xha_a<7>" LOC = "u4"  ;
NET "xha_a<8>" LOC = "t1"  ;
NET "xha_a<9>" LOC = "t2"  ;
NET "xha_a<10>" LOC = "r3"  ;
NET "xha_a<11>" LOC = "r4"  ;
NET "xha_a<12>" LOC = "r1"  ;
NET "xha_a<13>" LOC = "r2"  ;
NET "xha_a<14>" LOC = "p5"  ;
NET "xha_a<15>" LOC = "p6"  ;
NET "xha_a<16>" LOC = "n1"  ;
NET "xha_a<17>" LOC = "n2"  ;
NET "xha_a<18>" LOC = "m5"  ;
NET "xha_a<19>" LOC = "m6"  ;
NET "xha_a<20>" LOC = "m3"  ;
NET "xha_a<21>" LOC = "m4"  ;
NET "xha_a<22>" LOC = "m1"  ;
NET "xha_a<23>" LOC = "m2"  ;
NET "xha_a<24>" LOC = "v1"  ;
NET "xha_a<25>" LOC = "v2"  ;
NET "xha_a<26>" LOC = "u1"  ;
NET "xha_a<27>" LOC = "u2"  ;
NET "xha_a<28>" LOC = "r5"  ;
NET "xha_a<29>" LOC = "t5"  ;
NET "xha_a<30>" LOC = "t3"  ;
NET "xha_a<31>" LOC = "t4"  ;
NET "xha_ack" LOC = "v17"  ;
NET "xha_brst" LOC = "u10"  ;
NET "xha_d<0>" LOC = "aa15"  ;
NET "xha_d<1>" LOC = "ab15"  ;
NET "xha_d<2>" LOC = "u14"  ;
NET "xha_d<3>" LOC = "v14"  ;
NET "xha_d<4>" LOC = "w14"  ;
NET "xha_d<5>" LOC = "y14"  ;
NET "xha_d<6>" LOC = "aa14"  ;
NET "xha_d<7>" LOC = "ab14"  ;
NET "xha_d<8>" LOC = "y8"  ;
NET "xha_d<9>" LOC = "w8"  ;
NET "xha_d<10>" LOC = "ab8"  ;
NET "xha_d<11>" LOC = "aa8"  ;
NET "xha_d<12>" LOC = "y9"  ;
NET "xha_d<13>" LOC = "w9"  ;
NET "xha_d<14>" LOC = "ab9"  ;
NET "xha_d<15>" LOC = "aa9"  ;
NET "xha_d<16>" LOC = "p3"  ;
NET "xha_d<17>" LOC = "p4"  ;
NET "xha_d<18>" LOC = "p1"  ;
NET "xha_d<19>" LOC = "p2"  ;
NET "xha_d<20>" LOC = "n5"  ;
NET "xha_d<21>" LOC = "n6"  ;
NET "xha_d<22>" LOC = "n3"  ;
NET "xha_d<23>" LOC = "n4"  ;
NET "xha_d<24>" LOC = "j4"  ;
NET "xha_d<25>" LOC = "j3"  ;
NET "xha_d<26>" LOC = "j2"  ;
NET "xha_d<27>" LOC = "j1"  ;
NET "xha_d<28>" LOC = "j5"  ;
NET "xha_d<29>" LOC = "k5"  ;
NET "xha_d<30>" LOC = "k6"  ;
NET "xha_d<31>" LOC = "l6"  ;
NET "xha_d<32>" LOC = "ab5"  ;
NET "xha_d<33>" LOC = "aa5"  ;
NET "xha_d<34>" LOC = "v7"  ;
NET "xha_d<35>" LOC = "v6"  ;
NET "xha_d<36>" LOC = "y6"  ;
NET "xha_d<37>" LOC = "w6"  ;
NET "xha_d<38>" LOC = "v10"  ;
NET "xha_d<39>" LOC = "v9"  ;
NET "xha_d<40>" LOC = "e6"  ;
NET "xha_d<41>" LOC = "e5"  ;
NET "xha_d<42>" LOC = "d2"  ;
NET "xha_d<43>" LOC = "d1"  ;
NET "xha_d<44>" LOC = "e4"  ;
NET "xha_d<45>" LOC = "e3"  ;
NET "xha_d<46>" LOC = "e2"  ;
NET "xha_d<47>" LOC = "e1"  ;
NET "xha_d<48>" LOC = "g2"  ;
NET "xha_d<49>" LOC = "g1"  ;
NET "xha_d<50>" LOC = "h5"  ;
NET "xha_d<51>" LOC = "j6"  ;
NET "xha_d<52>" LOC = "h4"  ;
NET "xha_d<53>" LOC = "h3"  ;
NET "xha_d<54>" LOC = "h2"  ;
NET "xha_d<55>" LOC = "h1"  ;
NET "xha_d<56>" LOC = "k4"  ;
NET "xha_d<57>" LOC = "k3"  ;
NET "xha_d<58>" LOC = "k2"  ;
NET "xha_d<59>" LOC = "k1"  ;
NET "xha_d<60>" LOC = "l5"  ;
NET "xha_d<61>" LOC = "l4"  ;
NET "xha_d<62>" LOC = "l3"  ;
NET "xha_d<63>" LOC = "l2"  ;
NET "xha_hbr_l" LOC = "aa17"  ;
NET "xha_ms0_l" LOC = "aa18"  ;
NET "xha_ms1_l" LOC = "ab18"  ;
NET "xha_ms2_l" LOC = "w17"  ;
NET "xha_ms3_l" LOC = "y17"  ;
NET "xha_rdh_l" LOC = "aa4"  ;
NET "xha_rdl_l" LOC = "ab4"  ;
NET "xha_wrh_l" LOC = "aa3"  ;
NET "xha_wrl_l" LOC = "y4"  ;
NET "xhdr_ack" LOC = "ab13"  ;
NET "xhdr_clk" LOC = "ab12"  ;
#NET "xhdr_d<0>" LOC = "u18"  ;
#NET "xhdr_d<1>" LOC = "u19"  ;
#NET "xhdr_d<2>" LOC = "v16"  ;
#NET "xhdr_d<3>" LOC = "v15"  ;
#NET "xhdr_d<4>" LOC = "w16"  ;
#NET "xhdr_d<5>" LOC = "y16"  ;
#NET "xhdr_d<6>" LOC = "aa16"  ;
#NET "xhdr_d<7>" LOC = "ab16"  ;
#NET "xhdr_d<8>" LOC = "w15"  ;
#NET "xhdr_d<9>" LOC = "y15"  ;
#NET "xhdr_d<10>" LOC = "v8"  ;
#NET "xhdr_d<11>" LOC = "ab6"  ;
#NET "xhdr_d<12>" LOC = "aa6"  ;
#NET "xhdr_d<13>" LOC = "y7"  ;
#NET "xhdr_d<14>" LOC = "w7"  ;
#NET "xhdr_d<15>" LOC = "ab7"  ;
NET "xhdr_dir" LOC = "u12"  ;
NET "xhdr2_ack" LOC = "d16"  ;
NET "xhdr2_clk" LOC = "aa12"  ;
#NET "xhdr2_d<0>" LOC = "a16"  ;
#NET "xhdr2_d<1>" LOC = "b16"  ;
#NET "xhdr2_d<2>" LOC = "f14"  ;
#NET "xhdr2_d<3>" LOC = "e15"  ;
#NET "xhdr2_d<4>" LOC = "f19"  ;
#NET "xhdr2_d<5>" LOC = "f20"  ;
#NET "xhdr2_d<6>" LOC = "f21"  ;
#NET "xhdr2_d<7>" LOC = "f22"  ;
#NET "xhdr2_d<8>" LOC = "g18"  ;
#NET "xhdr2_d<9>" LOC = "h18"  ;
#NET "xhdr2_d<10>" LOC = "g19"  ;
#NET "xhdr2_d<11>" LOC = "g20"  ;
#NET "xhdr2_d<12>" LOC = "t18"  ;
#NET "xhdr2_d<13>" LOC = "u20"  ;
#NET "xhdr2_d<14>" LOC = "u22"  ;
#NET "xhdr2_d<15>" LOC = "u21"  ;
NET "xhdr2_dir" LOC = "c16"  ;
NET "xpa_scl" LOC = "u9"  ;
NET "xpa_sda" LOC = "aa7"  ;
NET "xsw_usr<0>" LOC = "y10"  ;
NET "xsw_usr<1>" LOC = "w10"  ;
NET "xsw_usr<2>" LOC = "aa13"  ;
NET "xsw_usr<3>" LOC = "y13"  ;
NET "xuser_clk" LOC = "f13"  ;
NET "xuser_led_1" LOC = "ab10"  ;
NET "xuser_led_2" LOC = "aa10"  ;
NET "xv2_haclk" LOC = "v11"  ;
NET "xv2_hbgen_l" LOC = "W11"  ;
NET "xv2_hbg_l" LOC = "ab17"  ;
NET "xv2_l0ack" LOC = "c10"  ;
NET "xv2_l0clk1" LOC = "a10"  ;
NET "xv2_l0dat<0>" LOC = "c4"  ;
NET "xv2_l0dat<1>" LOC = "a4"  ;
NET "xv2_l0dat<2>" LOC = "c5"  ;
NET "xv2_l0dat<3>" LOC = "c6"  ;
NET "xv2_l0dat<4>" LOC = "e8"  ;
NET "xv2_l0dat<5>" LOC = "e7"  ;
NET "xv2_l0dat<6>" LOC = "d6"  ;
NET "xv2_l0dat<7>" LOC = "b6"  ;
NET "xv2_l1ack" LOC = "e13"  ;
NET "xv2_l1clk1" LOC = "e11"  ;
NET "xv2_l1dat<0>" LOC = "d7"  ;
NET "xv2_l1dat<1>" LOC = "c7"  ;
NET "xv2_l1dat<2>" LOC = "b7"  ;
NET "xv2_l1dat<3>" LOC = "a7"  ;
NET "xv2_l1dat<4>" LOC = "d8"  ;
NET "xv2_l1dat<5>" LOC = "c8"  ;
NET "xv2_l1dat<6>" LOC = "a6"  ;
NET "xv2_l1dat<7>" LOC = "b4"  ;
NET "xv2_l2ack" LOC = "c15"  ;
NET "xv2_l2clk" LOC = "e12"  ;
NET "xv2_l2dat<0>" LOC = "b8"  ;
NET "xv2_l2dat<1>" LOC = "a8"  ;
NET "xv2_l2dat<2>" LOC = "e9"  ;
NET "xv2_l2dat<3>" LOC = "f9"  ;
NET "xv2_l2dat<4>" LOC = "d9"  ;
NET "xv2_l2dat<5>" LOC = "c9"  ;
NET "xv2_l2dat<6>" LOC = "b9"  ;
NET "xv2_l2dat<7>" LOC = "a9"  ;
NET "xv2_l3ack" LOC = "c17"  ;
NET "xv2_l3clk" LOC = "f12"  ;
NET "xv2_l3dat<0>" LOC = "a15"  ;
NET "xv2_l3dat<1>" LOC = "b15"  ;
NET "xv2_l3dat<2>" LOC = "c14"  ;
NET "xv2_l3dat<3>" LOC = "d14"  ;
NET "xv2_l3dat<4>" LOC = "a14"  ;
NET "xv2_l3dat<5>" LOC = "b14"  ;
NET "xv2_l3dat<6>" LOC = "b17"  ;
NET "xv2_l3dat<7>" LOC = "e16"  ;
NET "xv2_reset_l" LOC = "w12"  ;
