#********************************************************************************************
#-- Red Rapids
#-- 797 N. Grove Rd, Suite 101
#-- Richardson, TX 75081
#-- www.redrapids.com (support@redrapids.com)
#--
#-- File: CA_M314LBExample.ucf - Release DSK-320-003-R05 - Thu Dec 21 17:19:56 CST 2006
#--
# Local Bus Clock constraints
#********************************************************************************************
CONFIG STEPPING = '1';

#Analog Sample Clock Constraints
NET "sampleclk_n"	LOC = "B14" | IOSTANDARD = LVDS_25;
NET "sampleclk_p"	LOC = "B15" | IOSTANDARD = LVDS_25;
NET "sampleclk_p" TNM_NET = "sampleclk_p";
TIMESPEC "TS_sampleclk_p" = PERIOD "sampleclk_p" 20.8333 ns HIGH 50%;
NET "adca_in<*>"	OFFSET = IN 3.3ns BEFORE "sampleclk_p";
NET "adcb_in<*>"	OFFSET = IN 3.3ns BEFORE "sampleclk_p";
NET "adcc_in<*>"	OFFSET = IN 3.3ns BEFORE "sampleclk_p";
NET "adcd_in<*>"	OFFSET = IN 3.3ns BEFORE "sampleclk_p";
NET "adca_or"		OFFSET = IN 3.3ns BEFORE "sampleclk_p";
NET "adcb_or"		OFFSET = IN 3.3ns BEFORE "sampleclk_p";
NET "adcc_or"		OFFSET = IN 3.3ns BEFORE "sampleclk_p";
NET "adcd_or"		OFFSET = IN 3.3ns BEFORE "sampleclk_p";

#Local Bus Clock Constraints
NET "LBClk" LOC = "A10"  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "LBClk" TNM_NET = "LBClk";
TIMESPEC "TS_LBClk" = PERIOD "LBClk" 15 ns HIGH 50 %;

#Local Bus Time Assignments
NET "LBAD<*>"          OFFSET = IN 3.0ns AFTER "LBClk";
NET "fifo_flag"        OFFSET = IN 3.0ns AFTER "LBClk";
NET "LB_user_addr_vld" OFFSET = IN 3.0ns AFTER "LBClk";
NET "LB_user_rdwr"     OFFSET = IN 3.0ns AFTER "LBClk";
NET "D<*>"             OFFSET = IN 3.0ns AFTER "LBClk";
NET "LBRstn"           OFFSET = IN 13.0ns BEFORE "LBClk";
NET "LB_user_req"      OFFSET = IN 3.0ns AFTER "LBClk";
NET "LB_user_mult"     OFFSET = IN 3.0ns AFTER "LBClk";
NET "Int_to_FPGA"      OFFSET = IN 3.0ns AFTER "LBClk";

NET "LB_user_stop"     OFFSET = OUT 13.0ns AFTER "LBClk";
NET "bus_select<*>"    OFFSET = OUT 13.0ns AFTER "LBClk";
NET "LB_bus_cs"        OFFSET = OUT 13.0ns AFTER "LBClk";
NET "LBAD<*>"          OFFSET = OUT 13.0ns AFTER "LBClk";
NET "D<*>"             OFFSET = OUT 13.0ns AFTER "LBClk";

#Local bus constraints
NET "LBAD<0>"  LOC = "AC11" | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "LBAD<1>"  LOC = "H1"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "LBAD<2>"  LOC = "H2"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "LBAD<3>"  LOC = "G1"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "LBAD<4>"  LOC = "G2"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "LBAD<5>"  LOC = "F4"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "LBAD<6>"  LOC = "F3"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "LBAD<7>"  LOC = "F1"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "LBAD<8>"  LOC = "E1"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "LBAD<9>"  LOC = "D4"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "LBAD<10>" LOC = "D3"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "LBAD<11>" LOC = "D2"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "LBAD<12>" LOC = "D1"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "LBAD<13>" LOC = "C4"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "LBAD<14>" LOC = "C2"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "LBAD<15>" LOC = "C1"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "LBAD<16>" LOC = "B3"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "LBAD<17>" LOC = "A3"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "LBAD<18>" LOC = "AA11" | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "LBAD<19>" LOC = "H3"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "LBAD<20>" LOC = "H4"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "LBAD<21>" LOC = "G3"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "LBAD<22>" LOC = "G4"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "LBAD<23>" LOC = "F8"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "LBAD<24>" LOC = "F7"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 

NET "fifo_flag"        LOC = "E3" | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "bus_select<0>"    LOC = "E2" | IOSTANDARD = LVCMOS33; 
NET "bus_select<1>"    LOC = "D7" | IOSTANDARD = LVCMOS33; 
NET "bus_select<2>"    LOC = "D6" | IOSTANDARD = LVCMOS33; 
NET "LB_user_stop"     LOC = "D5" | IOSTANDARD = LVCMOS33; 
NET "LB_user_addr_vld" LOC = "C7" | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "LB_user_rdwr"     LOC = "C6"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE;
 
NET "D<0>"  LOC = "C5"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<1>"  LOC = "B4"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<2>"  LOC = "A4"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<3>"  LOC = "AC12" | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<4>"  LOC = "AA12" | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<5>"  LOC = "H6"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<6>"  LOC = "H5"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<7>"  LOC = "G5"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<8>"  LOC = "G6"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<9>"  LOC = "F10"  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<10>" LOC = "F9"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<11>" LOC = "E5"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<12>" LOC = "E4"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<13>" LOC = "D10"  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<14>" LOC = "D9"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<15>" LOC = "D8"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<16>" LOC = "C10"  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<17>" LOC = "C8"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<18>" LOC = "B7"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<19>" LOC = "B6"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<20>" LOC = "A6"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<21>" LOC = "A5"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<22>" LOC = "AD13" | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<23>" LOC = "AC13" | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<24>" LOC = "AA13" | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<25>" LOC = "H7"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<26>" LOC = "G7"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<27>" LOC = "G8"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<28>" LOC = "E7"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<29>" LOC = "E6"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<30>" LOC = "D12"  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<31>" LOC = "D11"  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<32>" LOC = "C11"  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<33>" LOC = "B9"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<34>" LOC = "A7"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<35>" LOC = "AD14" | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<36>" LOC = "AB13" | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<37>" LOC = "AA14" | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<38>" LOC = "G9"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<39>" LOC = "F15"  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<40>" LOC = "F13"  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<41>" LOC = "F11"  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<42>" LOC = "E10"  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<43>" LOC = "E9"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<44>" LOC = "D14"  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<45>" LOC = "D13"  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<46>" LOC = "C13"  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<47>" LOC = "C12"  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<48>" LOC = "B12"  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<49>" LOC = "B10"  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<50>" LOC = "A9"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<51>" LOC = "A8"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<52>" LOC = "AC15" | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<53>" LOC = "AB14" | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<54>" LOC = "AA15" | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<55>" LOC = "G10"  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<56>" LOC = "F16"  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<57>" LOC = "F14"  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<58>" LOC = "F12"  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<59>" LOC = "E14"  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<60>" LOC = "E13"  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<61>" LOC = "D16"  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<62>" LOC = "D15"  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "D<63>" LOC = "C14"  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 

NET "LBRstn"        LOC = "H8"   | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "LB_user_req"   LOC = "AC14" | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "LB_user_mult"  LOC = "AA16" | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "Int_to_Bridge" LOC = "A12"  | IOSTANDARD = LVCMOS33; 
NET "Int_to_FPGA"   LOC = "A11"  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE; 
NET "LB_bus_cs"     LOC = "AC16" | IOSTANDARD = LVCMOS33; 

#ADC A interface location constraints
NET "adca_in<0>"  LOC = "AD1" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adca_in<1>"  LOC = "AA1" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adca_in<2>"  LOC = "AB1" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adca_in<3>"  LOC = "AC1" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adca_in<4>"  LOC = "Y1" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adca_in<5>"  LOC = "W1" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adca_in<6>"  LOC = "AD2" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adca_in<7>"  LOC = "AC2" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adca_in<8>"  LOC = "AB2" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adca_in<9>"  LOC = "W2" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adca_in<10>"  LOC = "Y2" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adca_in<11>"  LOC = "AE3" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adca_in<12>"  LOC = "AD3" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adca_in<13>"  LOC = "AC3" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adca_or"  LOC = "AF3" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 

#ADC B interface location constraints
NET "adcb_in<0>"  LOC = "AB3" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adcb_in<1>"  LOC = "W3" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adcb_in<2>"  LOC = "Y3" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adcb_in<3>"  LOC = "AA3" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adcb_in<4>"  LOC = "AF4" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adcb_in<5>"  LOC = "AE4" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adcb_in<6>"  LOC = "AD4" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adcb_in<7>"  LOC = "AC4" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adcb_in<8>"  LOC = "AB4" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adcb_in<9>"  LOC = "Y4" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adcb_in<10>"  LOC = "AA4" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adcb_in<11>"  LOC = "AF5" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adcb_in<12>"  LOC = "AD5" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adcb_in<13>"  LOC = "AC5" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adcb_or"  LOC = "W4" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 

#ADC C interface location constraints
NET "adcc_in<0>"  LOC = "AB5" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adcc_in<1>"  LOC = "V5" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adcc_in<2>"  LOC = "W5" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adcc_in<3>"  LOC = "Y5" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ;
NET "adcc_in<4>"  LOC = "AF6" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adcc_in<5>"  LOC = "AE6" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ;
NET "adcc_in<6>"  LOC = "AD6" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ;
NET "adcc_in<7>"  LOC = "AC6" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ;
NET "adcc_in<8>"  LOC = "AB6" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adcc_in<9>"  LOC = "W6" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ;
NET "adcc_in<10>"  LOC = "Y6" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adcc_in<11>"  LOC = "AF7" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adcc_in<12>"  LOC = "AE7" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adcc_in<13>"  LOC = "AD7" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adcc_or"  LOC = "V6" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 

#ADC D interface location constraints
NET "adcd_in<0>"  LOC = "AC7" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adcd_in<1>"  LOC = "Y7" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adcd_in<2>"  LOC = "AA7" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adcd_in<3>"  LOC = "AB7" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adcd_in<4>"  LOC = "W7" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adcd_in<5>"  LOC = "V7" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adcd_in<6>"  LOC = "AF8" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adcd_in<7>"  LOC = "AD8" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adcd_in<8>"  LOC = "AC8" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adcd_in<9>"  LOC = "Y8" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adcd_in<10>"  LOC = "AA8" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adcd_in<11>"  LOC = "AE9" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adcd_in<12>"  LOC = "AC9" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adcd_in<13>"  LOC = "AB9" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 
NET "adcd_or"  LOC = "AF9" | IOBDELAY = NONE  | IOSTANDARD = LVCMOS33 ; 

#GPIO Pins
NET "gpio<0>" LOC = "AA9" | IOSTANDARD = LVCMOS33;
NET "gpio<1>" LOC = "Y9" | IOSTANDARD = LVCMOS33;
NET "gpio<2>" LOC = "Y10" | IOSTANDARD = LVCMOS33;
NET "gpio<3>" LOC = "AA10" | IOSTANDARD = LVCMOS33;


